<div class="gem-info">
  <div class="container">
    <div class="text text-muted">
      Открытый и бесплатный ресурс для поготовки к сдаче экзамена на правила дорожного движения. Создавайте свои викторины! Делитесь ими с друзьями! И постигайте мир в движении.
    </div>
  </div>
</div>